.add-info{
    word-wrap: break-word;
    margin-top:2%;
}
.info-list li{
    margin:1%;
}
.gallery-info{
    border-top:2px solid rgb(48, 28, 0);
    width:100%;
    padding:1% 2%;
}
.gallery-info *{
    color: black;
    font-weight: bold;
}
.ftco-bread{
    padding-bottom:-1%;
}
.about-author img{
    -webkit-border-radius: 2%;
    border-radius: 2%;
}
.compare-img{
    display: flex;
    flex-direction: row;
}
.crop-img{
    display:flex;
    overflow: hidden;
    width:200px;
    height:200px;
    justify-content: center;
}
.footer-img{
    display: flex;
    justify-content: center;
    overflow: hidden;
    width:100%;
    height:100px;
}

