.add-info{
    word-wrap: break-word;
    margin-top:2%;
}
.info-list li{
    margin:1%;
}
.gallery-info{
    border-top:2px solid rgb(48, 28, 0);
    width:100%;
    padding:1% 2%;
}
.gallery-info *{
    color: black;
    font-weight: bold;
}
.ftco-bread{
    padding-bottom:-1%;
}
.about-author img{
    -webkit-border-radius: 2%;
    border-radius: 2%;
}
.compare-img{
    display: flex;
    flex-direction: row;
}
.crop-img{
    display:flex;
    overflow: hidden;
    width:200px;
    height:200px;
    justify-content: center;
}
.footer-img{
    display: flex;
    justify-content: center;
    overflow: hidden;
    width:100%;
    height:100px;
}
.hero-wrap .text h2{
    letter-spacing: 1px;
    font-weight: 900;
    color:#ccb78f;
}
.hero-wrap .text .desc h2.big-letter{
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    color: #ededed;
    z-index: -1;
    font-size: 70px;
    line-height: 1;
}
.hero-wrap .text h2 span{
    color: black;
}
